body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;

  
}
nav {
  margin-top: auto;
  margin-bottom: auto;
  
}

form div {
  margin: 1em;
  display: inline-block;
}

#navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: lightpink;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
}

#add-recipe-form form{
  display: flex;
  flex-direction: column;
}